<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form
        name="form"
        #form="ngForm"
        (ngSubmit)="onAdd(form.invalid)"
        class="row mx-0"
        novalidate
      >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Job</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <div class="col-12 px-0" *ngFor="let alert of alertList">
              <div
                class="alert alert-dismissible fade show"
                [ngClass]="'alert-' + alert.type"
                role="alert"
              >
                {{ alert.msg }}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                  (click)="onClosedAlert(alert)"
                ></button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="name-input">Name:</label>
              <input
                id="name-input"
                name="name-input"
                [(ngModel)]="contact.name"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="Job-input">Job:</label>
              <input
                id="Job-input"
                name="Job-input"
                [(ngModel)]="contact.job"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-primary"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
